.bx-im-content-notification__container .bx-im-content-notification__panel-title_icon {
    cursor: pointer;
    transition: 300ms;
}
.bx-im-content-notification__container .bx-im-content-notification__panel-title_icon:hover {
    transform: scale(1.3);
}